   
  html{
    width: 100px;
    height: 100px;
    background-image: url('https://wallpapercave.com/wp/wp2936849.jpg');
    position:relative;
    animation: example 4s linear infinite ;
    
  }
  .content{
    background-image: url(../img/dark.jpg);
    width: max-content;
    height: 100px;
      position: absolute;
      top:0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      overflow: initial;
    } 
  @keyframes example {
    100% {
      transform:rotate(-360deg);
      }
 
      /* div { width:100px;
         height:100px; 
         margin-top:180px; 
         transform-origin:200% center;
          position:relative;
           animation:rotate 3s linear infinite; }
      div:before { 
        content:''; 
        position:absolute;
         height:100%;
          width:100%; 
          background:blue; 
          animation:rotate 3s linear reverse infinite; }
      @keyframes rotate {
         100% { 
           transform:rotate(-360deg);
           }
           }
      
      body { background:rgb(20,20,20); } /* The best color ever */
    /* html{ */
      background: midnightblue;
    }
    .header{
      background-color:black;
    } */